.big-article
  position: relative
  display: flex
  flex-flow: column nowrap
  width: 81%
  padding: $space-big
  height: auto

  &__title
    text-align: center
    margin: $space-normal 0

  &__text
    text-align: center

  &--white
    h2, p
      color: $color-white
  &--black
    h2, p
      color: $color-black

  &--center
    justify-content: center
    align-items: center
    text-aling: center
  &--left
    text-align: start
    justify-content: flex-start
    align-items: flex-start
  &--right
    text-align: end
    justify-content: flex-end
    align-items: flex-end
