.button
  width: auto
  display: flex
  justify-content: center
  align-items: center
  background-color: none
  border: none
  font-family: $font-primary
  cursor: pointer
  transition: .3s ease-in-out
  &:hover
    strong
      margin: 0 $space-big
    svg
      fill: $color-primary
  &:active
      margin: 0 $space-small

  strong
    margin: 0 $space-normal
    font-size: .9rem
