.button-add
  display: flex
  align-items: center
  justify-content: center
  min-width: 120px
  width: auto
  padding: $space-small
  margin: $space-small 0
  font-size: .6rem
  border: 3px solid $color-black
  background-color: trasparent
  font-family: $font-primary
  cursor: pointer