.card-pokemon
  position: relative
  box-sizing: border-box
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-start
  width: 100%
  margin: $space-small 0
  background-color: $color-gray 
  border: none
  cursor: pointer

  &:hover
    outline: 3px solid $color-black
    &::before
      position: absolute
      left: -30px
      content: ''
  &:focus
    outline: 3px solid $color-black
    
  &__name
    font-size: 1.2rem
  
  &__image
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 42px
    height: 42px
    border-radius: 50%
    background-color: $color-white
    margin: 0 $space-small

    img
      width: 100%

  &__type
    position: absolute
    right: 0

@media screen and (max-width: 768px)
  .card-pokemon
    &__name
      font-size: 1rem


@media screen and (max-width: 360px)
  .card-pokemon
    &__name
      font-size: .71rem