@each $heading, $value in (bug: $color-bug, fire:$color-fire, dark: $color-dark, dragon: $color-dragon, electric: $color-electric, fairy: $color-fairy, fight: $color-fight, flying: $color-flying, ghost: $color-ghost, grass: $color-grass, ground: $color-ground, ice: $color-ice, normal: $color-normal, poison: $color-poison, psycho: $color-psycho, rock: $color-rock, steel: $color-steel, water: $color-water )
  .category-card-#{$heading}
    background-image: linear-gradient($value, $color-white)

.is-flipped
  transform: rotateY(180deg)

.category-card
  box-sizing: border-box
  position: relative
  min-width: 300px
  width: 27%
  height: 100%
  perspective: 600px
  transition: .3s ease-in-out
  cursor: pointer

  &:hover
    width: 33%
    z-index: 9

  &--card
    box-sizing: border-box
    position: relative
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    border: 6px solid $color-black
    padding: $space-normal
    transform-style: preserve-3d
    transform-origin: center center
    transition: .6s ease-in-out
    box-shadow: 0 0 12px rgba($color-black, .0)

    &:hover
      box-shadow: 0 0 21px rgba($color-black, .6)




  &--face
    position: absolute
    display: flex
    flex-flow: column nowrap
    justify-content: space-around
    align-items: center
    width: 100%
    height: 100%
    backface-visibility: hidden

  &--back
    transform: rotateY(180deg)

  &__title
    text-align: center

  &__images
    position: relative
    display: flex
    width: 100%
    height: 20%
    justify-content: center
    align-items: center

    &-pokemon
      position: absolute
      width: 60%
      opacity: .3

    &-mini-pokemon
      position: relative
      align-self: flex-end
      width: 30%
      z-index: 6
  
  &__text
    text-align: center

  &__list
    position: relative
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    width: 100%
    li 
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      margin: $space-small 0
      a
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        text-decoration: none

  &__description
    text-align: center
    line-height: $space-normal
    padding: $space-normal

@media screen and (max-width: 1024px)
  .category-card
    width: 100%
    height: 60vh
    &:hover
      width: 100%
      height: 72vh
      z-index: 9

    &__images
      width: 30%