input[type="text"], select, option
  min-width: 200px
  width: auto
  border: solid 3px $color-black
  background-color: $color-white 
  padding: 6px
  font-family: $font-primary
  transition: 0.3s ease-in-out

input[type="number"]
  max-width: 120px
  width: auto
  border: solid 3px $color-black
  background-color: $color-white 
  padding: 6px
  font-family: $font-primary
  transition: 0.3s ease-in-out

input[type="text"]:focus, select:focus, option:focus, input[type="number"]:focus
  outline: 3px solid $color-primary

input[type="range"]
  min-width: 200px
  width: auto
  border: solid 3px $color-black
  background-color: $color-white 
  font-family: $font-primary
  transition: 0.3s ease-in-out

.form-pokedex  
  label
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-right: $space-normal

    small
      margin: $space-small 0

  &__general-info
    position: relative
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    margin: $space-small 0

  &__stats
    position: relative
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    margin: $space-normal 0
    &--ranges
      display: flex
      flex-flow: row nowrap
      align-items: center

@media screen and ( max-width: 475px )
  .form-pokedex
    .text-normal
      font-size: .6rem
  

