.header
  position: sticky
  top: 0
  display: flex
  align-items: center
  justify-content: space-between
  flex-flow: row wrap-reverse
  box-sizing: border-box
  width: 100%
  height: 60px
  padding: $space-normal
  font-family: $font-primary
  background-color: #fff
  box-shadow: 0 0 12px rgba($color-black, .3)
  z-index: 12
  animation: to-down-small 1.2s forwards
  &__skip
    position: absolute
    left: -100%
    top: 12%
    padding: $space-normal
    background-color: $color-white
    border: 3px solid $color-black
    transition: .3s ease-in-out
    &:focus
      left: 6%
  &__menu
    position: fixed
    opacity: 0
    left: -100%
    transition: .3s ease-in-out
    &--btn
      display: none
  nav
    min-width: 360px 
    li
      display: inline-block
      margin-right: $space-normal
      a
        font-size: .9rem
        text-decoration: none;
  .selected
    color: $color-primary

@media screen and (max-width: 475px)
  .header
    &__nav
      display: none
    &__menu
      position: fixed
      display: flex
      flex-flow: column
      justify-content: space-around
      align-items: center
      text-aling: center
      top: 0
      left: -100%
      width: 100%
      height: 100vh
      background-color: rgba($color-white, .9)
      ul
        display: flex
        flex-flow: column nowrap
        justify-content: center
        li
          margin: $space-normal
          color: $color-white
          text-align: center
      &--btn
        display: block
