.loading
  box-sizing: border-box
  position: relative
  width: 100%
  height: 100%
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  padding: $space-normal
  figure
    position: relative
    margin-right: $space-normal
    animation: Loading 0.6s ease-in-out infinite
    img
      width: 40px
      height: 40px