.not-found-pokemon
  position: relative
  width: 72%
  padding: $space-normal
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center

  h2
    padding: $space-normal
    text-align: center
    line-height: 24px