.form-pokemon
  position: relative
  background-color: $color-gray
  border: 6px solid $color-black
  width: 100%
  height: 100vh
  overflow: hidden  
  padding: $space-big
  box-sizing: border-box
  label
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-right: $space-normal

    small
      margin: $space-small 0    
  &__loading
    box-sizing: border-box
    position: relative
    width: 100%
    height: auto
  
  &__images
    h3
      margin-bottom: $space-small
    &--imgs
      display: flex
      flex-flow: row nowrap
      padding: $space-normal 0

  &__general-info
    position: relative
    display: flex
    width: 100%
    flex-flow: row wrap
    justify-content: flex-start
    margin: $space-small 0

  &__stats
    position: relative
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    margin: $space-normal 0
  
  &__specific-info
    position: relative
    width: 100%
    display: flex
    flex-flow: row wrap
    ul li
      padding: 6px 0 
    &--abilities
      margin-bottom: $space-small        
    &--information
      max-width: 30%
      min-width: 90px
    h3
      margin-bottom: $space-small

    &--genre
      max-width: 30%
      min-width: 90px


  .general-info--name
    position: relative
    width: 90%
    #name
      width: 100%

  .general-info--abilities
    ul
      margin-bottom: $space-small

  .general-info--types
    ul
      li
        display: inline
        margin-right: $space-small

  input[type="range"]
    min-width: 150px
    width: 150px

  .general-info--type
    min-width: 150px
    width: 150px

  .general-info--information
    ul li
      diplay: flex
      flex-flow: row nowrap
    input[type="number"]
      width: 60px
      font-family: $font-primary
      &:focus
        outline: 2px solid $color-primary

  .general-info--genre
    ul li
      diplay: flex
      flex-flow: row nowrap
    input[type="number"]
      width: 60px
      font-family: $font-primary
      &:focus
        outline: 2px solid $color-primary

@media screen and ( max-width: 760px )
  .form-pokemon
    height: auto

@media screen and ( max-width: 475px )
  .form-pokemon
    &__images--imgs
      flex-flow: column
  
    
  
 
