.pokemon
  position: relative
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-around
  width: 100%
  height: 100%
  padding: $space-section-normal
  overflow: hidden
  transition: .3s ease-in-out

  p, small, span
    font-size: .9rem

  &__specific-stats
    position: relative
    width: 100%
    height: 0
    opacity: 0
    display: flex
    flex-flow: row wrap
    padding: $space-normal 0
    overflow: hidden
    transition: 0.6s ease-in-out

    ul
      margin-right: $space-big
      li
        padding: 6px 0
        p
          font-size: .6rem

  &__name
    position: relative
    width: 100%
    margin: $space-normal 0
    display: flex
    flex-direction: row
    align-items: center
    z-index: 2
    animation: to-down-small 1.2s ease-in-out forwards
    animation-delay: .1s
     

    figure
      position: relative
      width: 21px
      height: 21px
      margin-right: $space-normal
      img
        width: 100%

  &__general-info
    width: 100%
    height: auto
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    z-index: 1
    animation: to-down-small 1.2s ease-in-out forwards
    animation-delay: .1s

  &__button
    width: auto
    justify-self: flex-end
    animation: to-up-small 1.2s ease-in-out forwards
    animation-delay: .1s

  &__main
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: center
    z-index: 1
    animation: to-down-small 1.2s ease-in-out forwards
    animation-delay: .1s

    figure
      position: relative
      display: flex
      align-items: flex-end
      justify-content: center
      min-width: 240px
      min-height: 240px
      width: 50%
      height: auto
      transition: 0.9s ease-in-out

      .images-pokemon
        position: absolute
        width: 120%
        opacity: .2
        z-index: 0
        transition: 0.9s ease-in-out

      .images-mini-pokemon
        object-fit: cover
        position: relative
        width: 72%
        z-index: 1
        transition: 0.9s ease-in-out
      
    .pokemon__main-stats
      li
        margin: $space-small 0


  li
    font-family: $font-primary

@media screen and (max-width: 769px)
  .pokemon
    padding: $space-normal
@media screen and (max-width:375px)
  .pokemon
    padding: none
    text-align: center
    overflow-y: scroll
    p, small, span
      font-size: .6rem

    &__general-info
      text-align: center
      p
        margin-bottom: $space-small

    &__main
      figure
        min-width: 200px
        min-height: 200px

    &__main-stats
      li
        text-align: center

    &__specific-stats
      justify-content: center
      align-items: center