
.arrow-up
  transform: rotate(90deg)
.arrow-down
  transform: rotate(-90deg)
  
.pokedex
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  box-sizing: border-box
  // clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%)
  position: relative
  width: 100%
  height: 100%
  padding: $space-big
  border-left: 6px solid $color-black
  background-color: $color-gray
  box-shadow: -15px 0 12px rgba($color-black, 0.1)

  &__title
    position: relative
    display: flex
    width: 100%
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    span
      display: none
      padding: $space-small
      font-size: .71rem
      font-family: $font-primary

  &__pokemons
    position: relative
    box-sizing: border-box
    width: 100%
    height: 100%
    padding: 0 $space-normal
    overflow-y: scroll 

@media screen and (max-width: 768px)
  .pokedex
    padding: $space-normal
    border-top: 6px solid $color-black
    h2
      font-size: 2.7rem

    &__title
      margin-bottom: $space-normal
      span
        font-family: $font-primary
        display: inline-block
        font-size: 1.2rem

@media screen and (max-width: 375px)
  .pokedex
    padding: $space-small
    border-top: 6px solid $color-black
    height: 90%
    h2
      font-size: 1.2rem

    &__title
      margin-bottom: $space-normal
      span
        tr
        display: inline-block