.select-pokemon
  positon: relative
  align-self: center
  width: 72%
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  flex-flow: column nowrap

  h2
    text-align: center

@media screen and (max-width: 375px)
  .select-pokemon
    width: 60%
    padding: $space-normal
    h2
      font-size: 2rem