.small-article
  position: relative
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  min-width: 330px
  width: 25%
  text-align: center
  margin: $space-normal
  &__image
    position: relative
    width: 100%
    img
      width: 21%
  &__title
    margin: $space-small 0

  &--white
    p, h4
      color: $color-white
  &--black
    p, h4
      color: $color-black