.small-header
  box-sizing: border-box
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 60px
  z-index: 12

  ul
    box-sizing: border-box
    display: flex
    width: 100%
    flex-flow: row
    li
      margin-right: $space-normal

  a
    font-size: .9rem
    text-decoration: none
    &:hover
      color: $color-white

  .selected
    color: $color-white

@media screen and (max-width: 360px)
  .small-header
    ul
      justify-content: space-around
      li
        text-align: center
        margin-right: 0
    a
      font-size: .63rem