.small-card-pokemon
  box-sizing: border-box
  position: relative
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  width: 90%
  height: autho
  font-family: $font-primary

  figure
    box-sizing: border-box
    position: absolute
    right: 0
    width: 30px
    height: 30px
    background-color: $color-white
    border-radius: 50%
    img
      width: 100%
      height: 100%