.successful-creation
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  box-sizing: border-box
  position: relative
  width: 100%
  height: 100%
  padding: $space-big
  border-left: 6px solid $color-black
  background-color: $color-gray
  box-shadow: -15px 0 12px rgba($color-black, 0.1)
  text-align: center