.surprise-option
  box-sizing: border-box
  position: relative
  width: 100%
  height: 100%
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-around
  padding: $space-big
  text-align: center
  border: 6px solid $color-black
  animation: to-right 1s ease-in-out forwards