@each $heading, $value in (bug: $color-bug, fire: $color-fire, dark: $color-dark, dragon: $color-dragon, electric: $color-electric, fairy: $color-fairy, fighting: $color-fight, flying: $color-flying, ghost: $color-ghost, grass: $color-grass, ground: $color-ground, ice: $color-ice, normal: $color-normal, poison: $color-poison, psychic: $color-psycho, rock: $color-rock, steel: $color-steel, water: $color-water )
  .type-#{$heading}
    background-color: $value 
    padding: 3px
    font-size: .8rem
    color: $color-white
    font-family: $font-primary
    border: 3px solid $color-black

@media screen and (max-width: 360px)
  @each $heading, $value in (bug: $color-bug, fire: $color-fire, dark: $color-dark, dragon: $color-dragon, electric: $color-electric, fairy: $color-fairy, fighting: $color-fight, flying: $color-flying, ghost: $color-ghost, grass: $color-grass, ground: $color-ground, ice: $color-ice, normal: $color-normal, poison: $color-poison, psychic: $color-psycho, rock: $color-rock, steel: $color-steel, water: $color-water )
    .type-#{$heading}
      padding: 1px
      font-size: .71rem
   