.text-article
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: flex-start
  min-width: 330px
  width: 69%
  height: auto
  &--right
    text-align: end
    justify-content: flex-end
    align-items: flex-end
  &--left
    justify-content: flex-start
    align-items: flex-start
  p
    font-family: $font-secondary
    line-height: $space-medium
    margin: $space-big 0

@media screen and (max-width: 768px)
  .text-article
    justify-content: center
    align-items: center
    text-align: center
    h2
      font-size: 1.2rem
    &--right
      justify-content: center
      align-items: center
      text-align: center
    &--left
      justify-content: center
      align-items: center
      text-align: center
    p
      text-align: center