@keyframes Loading 
  0% 
    transform: rotate(0deg)
  
  25%
    transform: rotate(18deg)

  50%
    transform: rotate(0deg)

  75%
    transform: rotate(-18deg)

  100%
    transfrom: rotate(0deg)

@keyframes to-left
  from 
    opacity: 0
    transform: translateX(300px)
  to
    opacity: 1
    transform: translateX(0)

@keyframes to-right
  from 
    opacity: 0
    transform: translateX(-300px)
  to
    opacity: 1
    transform: translateX(0)

@keyframes to-down-small
  from 
    opacity: 0
    transform: translateY(-120px)
  to
    opacity: 1
    transform: translateY(0)

@keyframes to-up-small
  from 
    opacity: 0
    transform: translateY(120px)
  to
    opacity: 1
    transform: translateY(0)

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)