$font-primary: 'Press Start 2P', cursive 
$font-secondary: 'Quicksand', sans-serif

@each $header, $value in (h1: 3.6rem, h2: 3rem, h3: 2.4rem, h4: 1.8rem)
  #{$header}, .#{$header}
    font-size: $value
    font-family: $font-primary
    color: $color-black


// Sizes of text
$font-size-paragraph: 3rem
$font-size-strong: 1.8rem
$font-size-normal: 1.5rem
$font-size-small: 1.2rem


.text-paragraph
  font-size: $font-size-paragraph
  font-family: $font-secondary
  color: $color-primary

p, .text-normal
  font-size: $font-size-normal
  font-family: $font-primary

strong, .strong
  font-size: $font-size-strong
  font-family: $font-primary

small, .small
  font-size: $font-size-small
  font-family: $font-primary

a, .link
  font-size: $font-size-normal
  color: $color-black

a:hover
  color: $color-primary

.link:hover
  color: $color-primary  
    


@media screen and (max-width: 340px)
  @each $header, $value in (h1: 2.1rem, h2: 1.2rem, h3: .9rem, h4: .9rem)
    #{$header}, .#{$header}
      font-size: $value
      font-family: $font-primary
      color: $color-black

  $font-size-paragraph: 3rem
  $font-size-strong: 1.8rem
  $font-size-normal: 1.5rem
  $font-size-small: 1.2rem


.text-paragraph
  font-size: 1.41rem
  font-family: $font-secondary
  color: $color-black

p, .text-normal
  font-size: 1rem
  font-family: $font-primary

strong, .strong
  font-size: 1rem
  font-family: $font-primary

small, .small
  font-size: .6rem
  font-family: $font-primary

a, .link
  font-size: .9rem
  color: $color-black

a:hover
  color: $color-primary

.link:hover
  color: $color-primary  