.categories
  position: relative
  display: flex
  justify-content: space-around
  align-items: center
  width: 100%
  height: 93vh
  background-color: $color-white
  overflow-x: hidden 
  animation: to-down-small 1.2s ease-in-out forwards

@media screen and (max-width: 1024px)
  .categories
    flex-flow: column nowrap
    height: auto