.create
  position: relative
  width: 100%
  height: 100vh
  overflow: hidden
  display: flex
  flex-flow: row wrap

  &__pokemon
    position: relative
    max-width: 50%
    width: 50%
    min-width: 375px
    height: 100%

  &__form
    position: relative
    max-width: 50%
    width: 50%
    min-width: 375px
    height: 100%

@media screen and (max-width: 900px)
  .create
    flex-flow: column
    overflow-y: scroll
    height: auto
    &__pokemon
      max-width: 100%
      width: 100%
      height: auto

    &__form
      max-width: 100%
      width: 100%
      height: auto

