.create-section
  box-sizing: border-box
  position: relative
  width: 100%
  height: 93vh
  display: flex
  flex-flow: row nowrap
  overflow: hidden
  &__surprise
    position: relative
    width: 60%
    height: 100%
  &__personalize
    position: relative
    width: 40%
    height: 100%


@media screen and ( max-width: 768px )
  .create-section
    flex-flow: column
    height: auto
    &__surprise
      width: 100%
      height: auto
    &__personalize
      position: relative
      width: 100%
      height: auto
  