.landing
  position: relative
  width: 100%
  overflow-x: hidden

  &__welcome
    position: relative
    width: 100%
    height: 90vh
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center

    &-pokemons
      position: relative
      display: inline-flex
      justify-content: center
      align-items: center
      min-width: 360px
      width: 50%
      min-height: 100%
      height: 100%
      text-align: center
      box-shadow: -21px 0 21px rgba($color-black, .06)
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 12% 0)
      background-color: $color-secondary
      animation: to-left 1.2s ease-in-out forwards
      h4
        color: $color-white
        padding: $space-big
        z-index: 3
      img
        position: absolute
        width: 70%
        z-index: 1
    &-article
      display: flex
      justify-content: center
      align-items: center
      min-width: 360px
      width: 50%
      animation: to-right 1.2s ease-in-out forwards

  &__categories
    position: relative
    display: flex
    flex-flow: row wrap-reverse
    width: 100%
    height: 90vh

    &-images
      position: relative
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      min-width: 360px
      width: 50%
      min-height: 100%
      height: 100%
      &-mewtwo
        position: absolute
        margin: auto
        opacity: .3
        width: 60%
      &-mini-mewtwo
        width: 20%

    &-article
      position: relative
      display: flex
      justify-content: center
      align-items: center
      min-width: 360px
      width: 50%
      min-height: 100%
      height: 100%
      background-color: $color-secondary
      clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%)
      color: $color-white

  &__advantages
    position: relative
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    aling-items: center
    flex-flow: column nowrap
    background-color: $color-primary
    
    &-article
      display: flex
      justify-content: center
      align-items: center
    
    &-articles
      display: flex
      flex-flow: row wrap
      align-items: center
      justify-content: center

@media screen and (max-width: 768px)
  .landing

    &__welcome
      height: 100vh
      flex-flow: column nowrap
      &-pokemons
        min-height: 40% 
        width: 100%

      &-article
        min-height: 40% 
        width: 100%

    &__categories
      height: 100vh
      flex-flow: column-reverse nowrap
      &-images
        min-height: 40% 
        width: 100%
      &-article
        min-height: 40%
        width: 100%

    &__advantages
      height: auto