.NotFound
  position: relative
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh
  background-color: $color-white
  color: $color-black
  text-align: center
  figure
    position: relative
    width: 10%
    img
      width: 100%
  h2
    margin: $space-big
    width: 60%