.pokemons
  position: relative
  width: 100%
  height: 100vh
  display: flex
  flex-flow: row wrap
  overflow-x: hidden

  &__pokemon
    position: relative
    min-width: 330px
    width: 50%
    height: 100%
    animation: to-right 0.9s ease-in-out forwards

  &__pokedex
    position: relative
    min-width: 330px
    width: 50%
    height: 100%
    animation: to-left 0.9s ease-in-out forwards

@media screen and (max-width: 769px)
  .pokemons
    flex-flow: column nowrap
    overflow: hidden

    &__pokemon
      position: relative
      width: 100%
      height: 90% 

    &__pokedex
      position: absolute
      bottom: -90%;
      width: 100%
      z-index: 9
      transition: 0.3s ease-in-out


    