@import './partials/_resets'
@import './partials/_colors'
@import './partials/_fonts'
@import './partials/_spaces'
@import './partials/_animations'

// Components
@import './components/Pokedex'
@import './components/FormPokedex'
@import './components/CardPokemon'
@import './components/TagType'
@import './components/Pokemon'
@import './components/Arrows'
@import './components/Button'
@import './components/SmallHeader'
@import './components/Header'
@import './components/TextArticle'
@import './components/SmallArticle'
@import './components/BigArticle'
@import './components/Footer'
@import './components/CategoryCard'
@import './components/SmallCardPokemon'
@import './components/Loading'
@import './components/SelectPokemon'
@import './components/NotFound'
@import ./components/CreatePokemon
@import ./components/PokemonForm
@import './components/ButtonAddForm'
@import './components/SuccessfulCreation'
@import './components/SurpriseOption'
@import './components/ComingSoon'

// Pages
@import './pages/Pokemons'
@import './pages/Landing'
@import './pages/Categories'
@import './pages/NotFound'
@import './pages/Create'
@import './pages/CreateSection'

body
  position: relative
  box-sizing: border-box
  margin: 0
  padding: 0
  text-decoration: none
  list-style: none
  font-size: 62.5%